*{
  scroll-behavior: smooth;
  outline: none; border: none;
  list-style: none;
  font-family: poppins;
  box-sizing: border-box;
  text-decoration: none;
}


@font-face {
  font-family: poppins;
  src: url(assets/fonts/font_style/Poppins-Light.ttf);
}
@font-face {
  font-family: poppins-mid;
  src: url(../assets/fonts/font_style/Poppins-Medium.ttf);
}

@font-face {
  font-family: bajj;
  src: url(../assets/fonts/font_style/BaiJamjuree-Medium.ttf);
}


.project-section{
  background-image: url(../assets/images/bg-shape.svg);
  background-size: cover; background-repeat: no-repeat;
}

.project-header-col{
  width: 10rem; padding: 0.5rem 1rem;
  border: 0.1rem rgba(255, 255, 255, 0.1) solid;
  background-image: linear-gradient(123.51deg, rgba(215, 237, 237, 0.1) 
  -61.8%, rgba(41, 190, 61, 0.2) 100%);
}
.project-header-col span{color: aliceblue; font-weight: bold;}

.project-section-header h3{
  font-family: bajj;
  font-size: clamp(1.5rem, 4vw + 1rem, 3.5rem);
}

.project-card{
  transition: 0.30s all ease-in-out;
  width: 35rem; height: 25rem; backdrop-filter:  blur(10px);
  background-size: cover; background-repeat: no-repeat;
  background-image: url(../assets/images/bg-portfolio-dark.png);
}

.project-card-image{overflow: hidden; border-radius: 0.5rem;}

.project-card:hover .project-card-text h4{
  color: #45e77b !important;
  transition: 0.30s all ease-in-out;
}

@media (max-width: 800px) {
  .project-section{padding: 2rem 2rem;}
}

@media (max-width: 600px) {
  .project-card{height: 18rem;}
  .project-card-text h4{font-size: 1rem;}
  .project-section{padding: 2rem 1rem;}
}

